* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  height: 80px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  font-size: 20px;
}

li {
  transition: all 200ms linear;
}

li:hover {
  color: #ffffff;
  transition: all 200ms linear;
}

.menu {
  color: #ffffff;
  background-color: #3f29d3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#section01 {
  background-color: #0cec62;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  flex-wrap: wrap;
  height: auto;
  padding-left: 200px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-top: 150px;
}

#section02 {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  padding-top: 80px;
  color: #040504;
  background-color: #fafafaef;
}

#section03 {
  background-image: url(https://th.bing.com/th/id/R.d2efb90ba4aec4328779185332c9c51d?rik=SZkz3fCK%2fr7k6w&pid=ImgRaw&r=0);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(245, 40, 13);
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding-top: 80px;
  padding-bottom: 80px;
  flex-wrap: wrap;
  font-size: 60px;
  flex-direction: column;
  gap: 1vw;
}
.color{
  color: #3f29d3;
  font-size: 20px;
}
#section04 {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding-top: 80px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}

.section01-left-div {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 999px;
  transition: all 200ms linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-style-section01 {
  width: 500px;
  height: auto;
  transition: all 200ms linear;
  filter: grayscale(50%);
}

.img-style-section01:hover {
  transform: scale(1.1);
  transition: all 200ms linear;
  cursor: crosshair;
  filter: grayscale(0);
}

.section01-right-div {
  width: 800px;
  height: 500px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2vh;
}

.heading-contact {
  width: 100%;
  text-align: center;
}

.left-contact {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px;
}

.right-contact {
  width: auto;
  height: 300px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.l01 {
  width: auto;
  text-align: left;
}

.p01 {
  width: auto;
  text-align: left;
}

button {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20vw;
  border: none;
  border: 2px solid #9932cc;
  color: #9932cc;
  font-size: 18px;
  font-weight: bold;
  background-color: #9932cc5b;
  transition: all 200ms linear;
  width: 250px;
}

button:hover {
  transition: all 200ms linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

#nome,
#mensagem {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1vw;
  width: 250px;
}

.tec-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.wrap-tecs {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 50px;
  flex-wrap: wrap;
}

.wrap-tecs > div {
  background-color: #fffffff6;
  color: #090909;
  width: 300px;
  height: auto;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: #9932cc 10px 5px 15px;
}

@media (width <= 600px) {
  .section01-left-div {
    width: 300px;
    height: 300px;
  }

  .img-style-section01 {
    width: 300px;
  }
  .l01 {
    width: 100%;
    text-align: center;
  }

  .p01 {
    width: 100%;
    text-align: center;
  }

  ul {
    gap: 2vw;
    font-size: 16px;
  }
  #section04 {
    gap: 3vh;
  }
  .right-contact {
    width: 80%;
    min-width: 80%;
    max-width: 80%;
  }
  .text {
    width: 200px;
    max-height: auto;
  }
}
footer {
  position: relative;
  width: 100%;
  background: #155eb1;
  min-height: 50px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
